$base-background-color: #E1EDE6;
$base-text-color: #598D66;
$base-text-color-light: #86928B;
$active-color: #376B44;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Raleway;
    color: #2C2D35;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

button {
    font-size: 20px;
    font-weight: 500;
    transition: 0.4s;
    cursor: pointer;
    border: none;
}

.header-top {
    background-color: $base-background-color;

    .header-top-content {
        display: flex;
        justify-content: space-between;
        max-width: 100%;

        .icon {
            font-size: 20px;
            font-weight: 700;
            line-height: 100%;
            color: $base-text-color;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 60px;
            padding-top: 38px;
            padding-bottom: 38px;

            li {
                font-size: 20px;
                font-weight: 500;
                transition: 0.5s;

                div {
                    transition: 0.1s;
                }

                &:hover {
                    color: $base-text-color;
                    cursor: pointer;

                    div {
                        svg {
                            path {
                                stroke: $base-text-color;
                            }
                        }
                    }
                }

                &:active {
                    color: $active-color;

                    div {
                        svg {
                            path {
                                stroke: $active-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 70px;

    .bird {
        img {
            max-width: 150%;
        }
    }

    .header-info {
        padding-top: 145px;
        padding-bottom: 145px;
        padding-left: 170px;

        h1 {
            font-size: 60px;
            font-weight: 500;
            line-height: 110%;
            margin-bottom: 20px;

            span {
                color: $base-text-color;
            }
        }

        p {
            color: $base-text-color-light;
            font-size: 18px;
            line-height: 150%;
            font-weight: 500;
            margin-bottom: 60px;
        }

        button {
            border: $base-text-color solid 1px;
            background-color: transparent;
            color: $base-text-color;
            padding: 21px 60px;


            &:hover {
                color: #F4F6F5;
                background-color: $base-text-color;
            }

            &:active {
                background-color: $active-color;
                color: white;
            }
        }
    }
}

.paintings {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 30px;

    h2 {
        font-size: 40px;
        line-height: 110%;
        font-weight: 500;
    }

    div {
        display: flex;
        gap: 30px;

        button {
            padding: 10px 20px;
            border-radius: 20px;
            background-color: #D4E8D9;
            cursor: pointer;

            &:hover {
                color: #F4F6F5;
                background-color: $base-text-color;
            }

            &:active {
                color: white;
                background-color: $active-color;
            }
        }
    }
}

.painting-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 70px;
    max-width: 100%;

    .painting-card {
        background-color: $base-background-color;
        display: flex;
        flex-direction: column;
        padding: 20px;

        img {
            max-width: 100%;
        }

        .author {
            display: inline-block;
            margin-bottom: 10px;
            margin-top: 20px;
            font-size: 18px;
            line-height: 21px;
            color: $base-text-color-light;
        }

        .painting-name {
            margin-bottom: 8px;
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
        }

        .painting-info {
            display: inline-block;
            margin-bottom: 30px;
            font-size: 18px;
            line-height: 21px;
        }

        .painting-price {
            display: inline-block;
            margin-bottom: 20px;
            font-size: 24px;
            line-height: 100%;
            color: $base-text-color;
        }

        button {
            margin-top: auto;
            width: 100%;
            color: $base-text-color;
            border: solid 1px $base-text-color;
            padding-top: 21px;
            padding-bottom: 21px;
            background-color: transparent;

            &:hover {
                background-color: $base-text-color;
                color: #D4E8D9;
            }

            &:active {
                background-color: $active-color;
                color: white;
            }
        }
    }
}

.new-collection {
    background-image: url("../img/background.jpg");
    background-position: 0% 25%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 150px;

    .collection-info {
        width: 50%;
        padding-top: 70px;
        padding-bottom: 70px;

        img {
            float: left;
            margin-right: 30px;
        }

        h2 {
            color: #F4F6F5;
            font-size: 40px;
            font-weight: 500;
            line-height: 100%;
            margin-bottom: 20px;
        }

        p {
            color: #F4F6F5;
            margin-bottom: 60px;
            line-height: 150%;
            font-size: 18px;
            font-weight: 500;
        }

        button {
            padding: 21px 60px;
            background-color: #EEDB6D;

            &:hover {
                background-color: #FAEB97;
            }

            &:active {
                background-color: #D9B949;
            }
        }
    }
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 100%;
    margin-bottom: 70px;

    .team-image {
        position: relative;
    }

    .team-info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-size: 40px;
            font-weight: 500;
            line-height: 110%;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
        }

        div {
            display: flex;
            gap: 30px;
        }
    }
}

.footer {
    background-color: $base-background-color;

    .footer-contacts {
        display: flex;
        justify-content: space-between;
        padding-top: 23px;
        padding-bottom: 23px;
        max-width: 100%;

        .number {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .icon {
                font-size: 20px;
                font-weight: 700;
                line-height: 100%;
                color: $base-text-color;
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .phone {
                display: flex;
                flex-direction: column;
                gap: 8px;

                a {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 100%;
                    text-decoration: none;
                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 100%;
                    color: $base-text-color-light;
                }
            }
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            gap: 60px;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 100%;

                    a {
                        font-size: 18px;
                        color: $base-text-color-light;
                        text-decoration: none;
                        transition: 0.3s;

                        &:hover {
                            color: $base-text-color;
                        }

                        &:active {
                            color: $active-color;
                        }
                    }
                }
            }
        }

        .social {

            .socialLogos {
                display: flex;
                justify-content: space-between;
                gap: 30px;
                margin-bottom: 10px;

                svg {
                    cursor: pointer;

                    &:hover {
                        path {
                            fill: $base-text-color;
                        }
                    }

                    &:active {
                        path {
                            fill: $active-color;
                        }
                    }
                }
            }



            p {
                font-size: 12px;
                font-weight: 500;
                line-height: 120%;
                color: $base-text-color-light;

                span {
                    vertical-align: super;
                }
            }
        }
    }
}