* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
background-image: url("../img/header_Background.jpg");
color: white;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.logo {
    font-family: Playfair Display;
    font-size: 32px;
    font-weight: 700;
    color: #C0AD95;
}

.header-top ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.header-top li {
    list-style: none;
    font-size: 24px;
    font-weight: 400;
}

.contacts {
    font-size: 24px;
    font-weight: 400;
}

.header-body {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-top: 207px;
}

.title h1 {
    font-family: Cormorant;
    font-size: 70px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 43px;
}

.title p {
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 28px;
}

.title :nth-child(3) {
    font-size: 26px;
    margin-bottom: 9px;
}

.title input {
    width: 510px;
    height: 51px;
    border-radius: 8px;
    margin-bottom: 28px;
    font-size: 26px;
    padding-left: 20px;
    border: none;
}

.title button {
    font-size: 26px;
    color: white;
    background-color: #AF9678;
    padding: 14px 27px;
    border: none;
    border-radius: 8px;
    margin-bottom: 304px;
}

.title img {
    margin-bottom: 30px;
}

.borderline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.borderLine ul {
    margin-top: 23px;
    margin-bottom: 34px ;
}

.borderLine li {
    list-style: none;
    margin-top: 17px;
}

.borderImage img{
    display: block;
    margin-left: 12px;
}

.test {
    display: flex;
    justify-content: space-between;
    margin-top: 144px;
}

.furnitureCard {
    background-image: url("../img/furniture.jpg");
    width: 360px;
    height: 544px;
    position: relative;
    margin-bottom: 145px;
}

.furnitureCard img {
    position: absolute;
}

.test h2 {
    font-family: Cormorant;
    font-size: 68px;
    font-weight: 400;
    margin-bottom: 26px;
    margin-top: 107px;
}

.test p {
    font-size: 30px;
    text-shadow: 1px -1px 7px rgba(186,217,0,0.36);
    margin-bottom: 34px;
}

.test button {
    font-size: 26px;
    color: white;
    padding: 14px 55px;
    border: none;
    border-radius: 8px;
    background-color: #AF9678;
}

.furnitureTest {
    margin-left: 88px;
}

.description h2 {
    color: #937A60;
    font-family: Cormorant;
    font-size: 68px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
    margin-bottom: 40px;
}

.description p {
    font-size: 30px;
    line-height: 44px;
    font-weight: 400;
    margin-bottom: 146px;
}

.advantages {
    margin-bottom: 192px;
}

.advantages h2 {
    font-family: Cormorant;
    font-size: 63px;
    font-weight: 400;
    color: #937A60;
    line-height: 28px;
    text-align: center;
    margin-bottom: 79px;
}

.advantageCards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 121px;
}

.advantages p {
    font-size: 30px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.advantageCard {
    font-size: 26px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
}

.catalog h2 {
    font-family: Cormorant;
    font-size: 63px;
    font-weight: 400;
    color: #937A60;
    line-height: 28px;
    margin-bottom: 97px;
}

.catalogCards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 149px;
}

.catalogCard {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    height: 608px;
    width: 332px;
    position: relative;
}

.catalogCard img {
    position: absolute;
}

.catalogCard:first-child {
    background-image: url("../img/background.png"), url("../img/furniture3.jpg");
    background-position:left, left;
    background-repeat:no-repeat, no-repeat;
}

.catalogCard:nth-child(2) {
    background-image: url("../img/background.png"), url("../img/furniture2.jpg");
    background-position: left, left;
    background-repeat: no-repeat, no-repeat;
}

.catalogCard:last-child {
    background-image: url("../img/background.png"), url("../img/furniture1.jpg");
    background-position: left, left;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
}

.materials h2 {
    font-family: Cormorant;
    font-size: 68px;
    font-weight: 400;
    color: #937A60;
    line-height: 28px;
    margin-bottom: 100px;
}

.materialsTitle {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 58.5px;
}

.materialsImages {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
    margin-bottom: 149px;
}

.materialsImages img {
    margin-bottom: 32px;
}

.specials {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.specialsH2 {
    color: #937A60;
    font-family: Cormorant;
    font-size: 68px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 92px;
}  

.specialCard {
    position: relative;
}

.specialCard img {
    width: 340px;
    height: 432px;
    margin-bottom: 24px;
}

.banner {
    position: absolute;
    left: -25px;
    top: -25px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 19px;
    font-weight: 400;
    padding: 10px 15px;
}

.specialPrices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    font-size: 30px;
    line-height: 28px;
    font-weight: 400;
}

.specialPrices .price {
    color: red;
}

.specialsP {
    text-align: center;
    margin-bottom: 104px;
}

.specialsP span{
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    color: #937A60;
    border-bottom: #937A60 solid 2px;
    padding-left: 25px;
    padding-right: 25px;
}

.offers {
    background-color: #161513;
    padding-top: 134px;
    padding-bottom: 134px;
    margin-bottom: 148px;
}

.offersInfo {
    text-align: center;
    position: relative;
    width: 758px;
    margin: 0 auto;
}

.offersInfo h2 {
    font-size: 68px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    font-family: Cormorant;
    margin-bottom: 30px;
}

.offersInfo p {
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    margin-bottom: 43px;
}

.offersInfo input {
    position: relative;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    color: #11100E75;
    margin-bottom: 55px;
    border-radius: 8px;
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 32px;
    width: 758px;
    z-index: 2;
}

.offersInfo button {
    padding: 14px 63px;
    color: white;
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    background-color: #AF9678;
    border-radius: 8px;
    border: none;
}

.offersInfo img {
    position: absolute;
    right: -260px;
    top: -50px;
    z-index: 0;
}

.reviews {
    margin-bottom: 202px;
}

.reviews h2 {
    font-family: Cormorant;
    font-size: 68px;
    font-weight: 400;
    color: #937A60;
    line-height: 28px;
    margin-bottom: 79px;
}

.reviews h5 {
    font-size: 37px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 59px;
    padding-left: 90px;
}

.reviews p {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    padding-left: 90px;
}

.production {
    display: flex;
    gap: 20px;
    position: relative;
    margin-bottom: 148px;
}

.production img {
    height: 604px;
    width: 100%;
}

.productionInfo {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 35px;
    background-color: #3535353D;
    right: 20%;
    top: 20%;
    bottom: 20%;
    left: 20%;
}

.productionInfo p {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    color: white;
}

.productionInfo span {
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    color: white;
}

.howWeWork {
    margin-bottom: 148px;
}

.howWeWork h2{
    font-family: Cormorant;
    font-size: 68px;
    font-weight: 400;
    color: #937A60;
    line-height: 28px;
    margin-bottom: 97px;
}

.workCardsBlock {
    padding-left: 41px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
}

.workCardsBlock p {
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 55px;
}

.workCardImage {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
}

.workCardImage img {
    margin-right: 28px;
}

.workCardsBlock p {
    position: relative;
}

.workCardsBlock p img {
    position: absolute;
}

.priceTest {
    display: flex;
    flex-direction: row;
    margin-bottom: 148px;
}

.priceTestImage {
    width: 80%;
    background-image: url("../img/testImage.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.priceTestInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding-left: 70px;
    width: 100%;
    padding-top: 280px;
    padding-bottom: 280px;
}

.priceTestInfo h2 {
    font-size: 68px;
    color: white;
    line-height: 71px;
    font-weight: 400;
    font-family: Cormorant;
    margin-bottom: 26px;
}

.priceTestInfo p {
    font-size: 30px;
    font-weight: 400;
    color: white;
    line-height: 37px;
    margin-bottom: 34px;
}

.priceTestInfo button {
    padding: 14px 38px;
    color: white;
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    background-color: #AF9678;
    border-radius: 8px;
    border: none;
    width: 240px;
}

.contacts2 {
    margin-bottom: 190px;
}

.contacts2 h2 {
    font-family: Cormorant;
    font-size: 68px;
    font-weight: 400;
    color: #937A60;
    line-height: 28px;
    margin-bottom: 52px;
}

.contactsContent {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.contactsInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.contactsInfo p {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.contactsImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 156px;
}

.contactsForm {
    background-image: url("../img/contactsForm.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 66px;
    border-radius: 8px;
}

.contactsForm p {
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    margin-bottom: 36px;
}

.contactsForm input {
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    border-radius: 10px;
    padding-left: 26px;
    margin-bottom: 32px;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
}

.contactsForm button {
    color: white;
    padding: 14px 63px;
    background-color: #AF9678;
    border-radius: 8px;
    font-size: 26px;
    font-weight: 400;
    line-height: 28px;
    border: none;
}

.footer {
    background-color: #937A60;
    padding-top: 55px;
    padding-bottom: 55px;
}

.footerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerInfo p {
color: white;
font-family: Playfair Display;
font-size: 32px;
font-weight: 700;
line-height: 52px;
margin-right: 127px;
}

.footerInfo ul {
    list-style: none;
    margin-right: 100px;
}

.footerInfo li {
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
}

.map {
    position: relative;
}

.map img:nth-child(2) {
    position: absolute;
    left: 232px;
    top: 124px;
}