* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.header {
  background-image: url("../img/background.png");
  background-position: top left;
  background-repeat: no-repeat;
}

.headerTop {
  padding-top: 28px;
  padding-bottom: 18px;
  font-family: Cuprum;
}

.header .buttons {
  float: right;
}

.header .resultEstate {
  float: left;
}

.headerTop li {
  float: left;
  list-style: none;
  color: white;
  font-size: 16px;
  line-height: 123%;
  font-weight: 700;
  padding: 8px 24px;
}

.buttons button {
  background-color: #F8B806;
  height: 56px;
  width: 187px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  float: right;
  margin-left: 17px;
  margin-top: -8px;
}

.buttons img {
  float: right;
  padding-left: 9px;
  margin-left: 9px;
  margin-top: 4px;
}

.resultEstate p {
  color: white;
  margin-left: 17px;
  padding-left: 17px;
  border-left: white solid 1px;
  font-size: 13px;
  font-weight: 400;
  line-height: 123%;
}

.resultEstate img {
  float: left;
}

.park {
  font-family: Montserrat;
  padding-top: 204px;
  padding-bottom: 196px;
}

.park img {
  float: right;
  border-radius: 21px;
}

.park h1 {
  color: white;
  font-size: 72px;
  font-weight: 700;
  line-height: 123%;
}

.park p {
  color: white;
  font-size: 28px;
  font-weight: 500;
  line-height: 123%;
  margin-bottom: 32px;
}

.park button {
  background-color: white;
  height: 60px;
  width: 260px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 500;
}

hr {
  color: white;
  height: 1px;
}

h3 {
  color: white;
  font-family: Montserrat;
  font-weight: 700;
  text-align: center;
  font-size: 45px;
  line-height: 123%;
  background-color: #242424;
  background-image: url("../img/AbstractDesign.png"), url("../img/Group.png");
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
  padding-top: 72.5px;
  padding-bottom: 72.5px;
}

.header h3 {
  background-image: url("../img/AbstractDesign.png"), url("../img/Group.png");
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
  padding-top: 72.5px;
  padding-bottom: 72.5px;
}

.images {
  height: 587px;
  background-color: #242424;
  text-align: center;
}

.images img {
  float: left;
  width: 25%;
}

.images div {
  background-color: #242424;
}

.images button {
  background-color: #F8B806;
  height: 52px;
  width: 241px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 123%;
  margin: 32px auto;
}

.selection {
  background-color: #242424;
  background-image: url("../img/AbstractDesign1).png");
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 84.5px 240px;
}

.selection h3 {
  background-image: none;
  background-color: transparent;
  text-align: left;
  margin-bottom: 16px;
  padding-bottom: 0px;
}

.homeNumbers {
  float: left;
}

.homeNumbers p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  color: white;
}

.homeNumbers li {
  float: left;
  list-style: none;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.homeNumbers button {
  width: 50px;
  height: 50px;
  background-color: #3E3E3E;
  border: none;
  border-radius: 32px;
  padding: 12px 16px;
  color: white;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
}
.homeNumbers button:hover {
  background-color: #F8B806;
}
.homeImage {
  float: right;
}

.info {
  background-color: #242424;
  padding-top: 42.5px;
  padding-bottom: 42.5px;
}

.infoImage {
  float: right;
  background-image: url("../img/AbstractDesign2.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}

.infoImage img {
  height: 431px;
  width: 582px;
  padding-left: 32px;
  padding-bottom: 43px;
}

.infoPark {
  float: left;
}

.info h3 {
  background-image: none;
  background-color: transparent;
  text-align: left;
  margin-bottom: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.info p {
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 123%;
  margin-bottom: 77px;
}

.advantages {
  background-image: url("../img/AbstractDesign3.png"), url("../img/Group1.png");
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
  padding-top: 32.5px;
  padding-bottom: 32.5px;
}

.advIcons {
  background-color: #242424;
}

.box {
  float: left;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 345px;
  height: 300px;
}

.box p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: white;
  line-height: 150%;
}

.box img {
  padding-bottom: 20px;
}

.variants {
  background-image: url("../img/AbstractDesign4.png"), url("../img/iconLine.svg");
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
  padding-top: 50.5px;
  padding-bottom: 50.5px;
  margin-top: -4px;
}

.variantsBlock {
  background-color: #3F3D42;
  background-image: url(../img/AbstractDesign5.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.varImages {
  float: left;
}
.varImages img {
  padding-bottom: 32px;
}
.varImages .mini img{
float: left;
}

.varInfo {
  float: right;
  height: 595px;
  padding-bottom: 32px;
  padding-top: 32px;
}

.varInfo p {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
  color: white;
  line-height: 123%;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.varInfo h5 {
  font-size: 28px;
  font-weight: 700;
  color: white;
  line-height: 123%;
  font-family: Montserrat;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.varInfo em {
  text-transform: none;
}

.varInfo button {
  background-color: #F8B806;
  color: #242424;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  padding: 20px 225px;
  text-align: center;
  border: none;
}
.comfort {
  text-transform: uppercase;
  padding-top: 50.5px;
  padding-bottom: 50.5px;
  background-image: url("../img/iconLine2.svg"), url("../img/AbstractDesign6.png");
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
}
.comfortBlock {
  background-color: #242424;
  padding-bottom: 72px;
}
.comfortInfo {
  float: left;
  background-image: url("../img/quote.png"), url("../img/quote2.png");
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
}
.comfortInfo p {
  padding-top: 120px;
  padding-bottom: 120px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  color: white;
  line-height: 123%;
  padding-right: 43px;
}
.comfortImage {
  float: right;
  padding-bottom: 32px;
}
.comfortBlock li {
  float: left;
  list-style: none;
}
.comfortBlock li button {
  color: white;
  background-color: #797979;
  padding: 19px 24px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: Montserrat;
  border: none;
  width: 288px;
  margin-bottom: 32px;
}
.comfortBlock h2 {
  font-family: Montserrat;
  font-size: 58px;
  color: white;
  line-height: 123%;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 67px;
}
.flatsSell {
  width: 726px;
  float: left;
}
.flatsSell h3 {
background-image: none;
padding-top: 45px;
padding-bottom: 16px;
text-align: left;
}
.flatsSell p {
  color: white;
  font-family: Montserrat;
  font-size: 32px;
  line-height: 123%;
  font-weight: 400;
}
.fSellImages img {
  float: right;
}
.input {
  background-color: #3F3D42;
  background-image: url("../img/AbstractDesign7.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}
.zayavka {
  color: white;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  line-height: 123%;
  padding-top: 32px;
  margin-bottom: 32px;
}
.colors {
  padding-top: 60px;
  margin-bottom: 32px;
  color: white;
}
.colors img {
  margin-bottom: -5px;
}
.redSpan {
  color: #FF3F3F;
  font-size: 22px;
  font-weight: 400;
  line-height: 123%;
  font-family: Montserrat;
}
.yellowSpan {
  color: #F8B806;
  font-size: 22px;
  font-weight: 400;
  line-height: 123%;
  font-family: Montserrat;
}
.input button {
  background-color: #F8B806;
  color: #242424;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  padding: 26px 168.67px;
  margin-left: 16px;
  border: none;
}
.map {
  background-color: #242424;
  text-align: center;
}
.messengers {
  text-align: center;
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  background-color: #333335;
  border-radius: 10px;
  float: left;
  padding: 25px 415px;
  margin-bottom: 32px;
}
.footer {
  background-color: #242424;
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer p {
  font-family: Montserrat;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 123%;
}
.footer li {
  color: white;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
  line-height: 123%;
  padding-bottom: 20px;
}
.bs {
  background-color: #242424;
}
.bs p {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: white;
  padding-top: 21px;
  padding-bottom: 32px;
}